@font-face {
    font-family: QuicksandBold;
    src: url(../fonts/Quicksand-bold.ttf);
}

@font-face {
    font-family: TitilliumWebBold;
    src: url(../fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: TitilliumWebSemiBold;
    src: url(../fonts/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: TitilliumWebRegular;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}
